/**
 * TYPOGRAPHY
 */

// 
// Headings
//

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    margin-top: 0;
    margin-bottom: $spacer / 2;
    font-size: map-get($headings-font-sizes, $i);
    font-weight: $headings-font-weight;
  }
}

// 
// Emphasis
// 

small,
.small {
  font-size: $font-size-small;
}

